<h1>Listing click_thrus</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @click_thrus.each do |click_thru| %>
  <tr>
    <td><%= click_thru.url %></td>
    <td><%= click_thru.time %></td>
    <td><%= link_to 'Show', click_thru %></td>
    <td><%= link_to 'Edit', edit_click_thru_path(click_thru) %></td>
    <td><%= link_to 'Destroy', click_thru, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Click thru', new_click_thru_path %>
