<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @click_thru.url %>
</p>

<p>
  <b>Time:</b>
  <%= @click_thru.time %>
</p>


<%= link_to 'Edit', edit_click_thru_path(@click_thru) %> |
<%= link_to 'Back', click_thrus_path %>
