<h1>Listing page_views</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @page_views.each do |page_view| %>
  <tr>
    <td><%= page_view.url %></td>
    <td><%= page_view.time %></td>
    <td><%= link_to 'Show', page_view %></td>
    <td><%= link_to 'Edit', edit_page_view_path(page_view) %></td>
    <td><%= link_to 'Destroy', page_view, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page view', new_page_view_path %>
